/_build
/lib
.merlin
*.bs.js
/_esy
node_modules
dune.bsb*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

.merlin
*.install
*.coverage
*.sw[lmnop]

_build/
_doc/
_coverage/
_opam/

odoc.css
bench.tsv
_esy
node_modules
lib/bs
.bsb.lock
.melange.eobjs